

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {  /*EDITADO */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #101112;
    color: #eee;
    font-family: "Inter", ;
  }

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* o menu fique acima de outros elementos */
    background-color: #101112; /* Cor de fundo do menu */
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.main-container { /*EDITADO */
    display: flex;
    max-width: 1200px; /* Centraliza a largura total */
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
  }

.fixed-section {
    position: sticky; /* Torna a seção fixa ao rolar */
    top: 50px; /* Mantém uma margem superior de 20px */
    width: 30%; /* Ocupa 30% da largura */
    padding: 20px; /* Espaçamento interno */
    margin-right: 20px; /* Espaço entre a seção fixa e a seção scrollable */
    background-color: #212121; /* Fundo do box */
    border-radius: 20px; /* Borda arredondada */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra leve */
    max-height: calc(60vh - 40px); /* Garante que o conteúdo caiba na tela */
    
}



/*INICIO SEÇAO PERFIL*/
.profile-box { /*EDITADO */
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    
}

.profile-pic {
    display: block;
    margin: -25px auto 10px;
    /* Sobe a foto e diminui a margem inferior */
    width: 180px;
    /* Reduz o tamanho da foto */
    height: 200px;
    /* Reduz o tamanho da foto */
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.profile-box h2 {
    font-size: 2em;
    /* Diminui o tamanho do nome */
    font-weight: 600;
    /* Diminui o peso da fonte */
    margin-bottom: 5px;
    /* Reduz o espaçamento */
}

.profile-box P{
    font-size: 1.2em;
}
/*FIM DA SEÇÃO DE PERFIL */

.bio,
.location {
    margin-bottom: 5px;
    /* Reduz o espaçamento */
    font-size: 0.9em;
    /* Diminui o tamanho do texto */
    font-weight: 400;
    /* Diminui o peso da fonte */
}

.social-links {
    margin: 10px 0;
    /* Reduz o espaçamento */
    padding: 0;
    list-style: none;
}

.social-links li {
    display: inline-block;
    margin: 0 5px;
}

.social-links a {
    color: #eee;
    text-decoration: none;
    font-size: 20px;
    gap: 10px;
}

.scrollable-section { /*EDITADO*/
    width: 65%;
    padding: 20px;
    margin-left: 5%;
    
}

.scrollable-section section { /*EDITADO*/
    margin-bottom: 40px;
}

.scrollable-section p {
    line-height: 1.6;
    font-size: 1rem;
  }


.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

section {
    padding: 120px 0; /* Ajuste superior para 80px + um pouco de margem */
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    min-height: 100vh;
    display: block;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

h1,
h2 {
    font-weight: 800;
}

h1 {
    font-size: 2.5em;
    /* Reduz o tamanho do h1 */
    margin-bottom: 0.5em;
    color: #eee;
}

h2 {
    font-size: 2em;
    /* Reduz o tamanho do h2 */
    margin-bottom: 0.5em;
    /* Reduz o espaçamento */
    color: #eee;
}

#intro {
    text-align: center;
    padding: 40px 0;
}

#intro .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    /* Centraliza o conteúdo horizontalmente */
}

#intro h1 {
    font-size: 2.4em;
    /* Reduz o tamanho da fonte */
    margin-bottom: 0.3em;
    /* Reduz ainda mais o espaçamento */
    color: #eee;
}

#intro p {
    font-size: 1.2em;
    /* Reduz o tamanho da fonte */
    margin-bottom: 1em;
    /* Reduz o espaçamento */
}

#about {
    background-color: transparent;
    padding: 40px 0;
}

#about p {
    font-size: 1em;
    margin-bottom: 1em;
}

#projects {
    background-color: #101112;
}

#projects ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#projects li {
    font-size: 1em;
    font-weight: 400;
    background-color: #101112;
    padding: 10px;
    border-radius: 5px;
    color: #fff
}

a {
    color: #ff2400;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ff2400;
}

.btn { /*BOTAO VAMOS CONVERSAR*/
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
    margin-top: 10px;
    width: fit-content;
}

.btn-primary { 
    background-color: #ff2400;
    /* Cor vermelha */
    color: #fff;
    border: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
    /* Adiciona a transição de transformação */
}

.btn-primary:hover {
    background-color: #ff2400;
    /* Tom mais escuro de vermelho no hover */
    color: #fff;
    transform: scale(1.05);
    /* Aumenta o tamanho do botão em 5% */
}

.btn-secondary {
    background-color: transparent;
    color: #eee;
    border: none;
}

.btn-secondary:hover {
    color: #ff2400;
}

.resume {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* Reduz o espaçamento */
    flex-wrap: wrap;

}

.resume-item {
    text-align: center;
    margin-bottom: 10px;
    flex-basis: 30%;
}

.resume-item span:first-child {
    font-size: 1.2em;
    /* Reduz o tamanho do número */
    font-weight: bold;
    color: #eee;
    display: block;
}

.resume-item span:last-child {
    font-size: 0.9em;
    /* Reduz o tamanho do texto */
    color: #eee;
}

.profile-box h2,
.profile-box .bio,
.profile-box .location,
.profile-box .social-links {
    color: #eee;
}

.highlight {
    color: #ff2400;
    /* Cor vermelha */
}

.button-group {
    display: flex;
    justify-content: center;
    /* Centraliza os botões horizontalmente */
    gap: 20px;
    /* Espaço entre os botões */
}










/* INICIO BARRA DE NAvegaçao */
.navbar {
    position: relative;
    background-color: #212121;
    border-radius: 10px;
    padding: 17px 15px; /* Aumenta o padding vertical */
    margin: 0 auto;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar li {
    flex: 1;
    text-align: center;
    margin: 0 15px; /* Adiciona margem horizontal */
}

.navbar a {
    color: #eee;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
    flex-direction: row;
    justify-content: center;
}

.navbar a:hover {
    color: #ff2400;
    transform: scale(1.05);
}

.navbar span {
    font-size: 0;
    opacity: 0;
    transition: opacity 0.3s ease, font-size 0.3s ease;
    white-space: nowrap;
    margin-left: 8px;
}

.navbar a:hover span {
    font-size: 0.8em;
    opacity: 1;
}

/*BARRA DE NAVEGAÇAO FIM*/








.contact-icon {
    margin-right: 0px;
}

#contact {
    background-color: #101112;
}

#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
}

#contact i {
    font-size: 1.5em;
}

/*CONTATO FORMULARIO*/
/* Estilos para o formulário de contato */
.form-container {
    text-align: center;
    background-color: #1e1e1e;
    /* Fundo do formulário */
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Centraliza o formulário na div */
}

.form-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form-container .highlight {
    color: #ff2400; /* Cor do texto "Amazing" */
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container label {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    resize: none;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
    color: #aaa;
}

.form-container button {
    background-color: #ff2400;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #ff2400;
    /* Cor ao passar o mouse */
}

#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



